.image-container{
  width: 100%;
  height: 91vh;
  background-image: url(../../assets/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}